body
{ 
/* background:url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg');
background-size:contain; */
 background:linear-gradient(90deg,rgb(255, 0, 38),rgb(70, 130, 180)); 
/* text-transform:capitalize; */
text-align:justify;
font-family: 'Dancing Script', cursive,sans-serif;
color:white;
}
input , textarea
{ 
   display: block;
   margin: 10px;
}
#title
 {  text-align: center;
    color:wheat;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    background: linear-gradient(60deg, rgb(187, 43, 43),rgb(37, 84, 70),rgb(75, 37, 84));
    border: 10px solid wheat;
    border-radius: 10px;
    
 }
 .subtitle
 {
    color: #eba026;
    font-family: 'Nunito Sans', sans-serif;
 }

#service-image
{ 
    height:400px;
    width:70%;
    /* background:linear-gradient(215deg,red,blue); */
    background:radial-gradient(circle,red 20%,blue 40%,green 55%);
     border:10px solid steelblue;
    
    
}
 .link
 {

 
   text-decoration: none;
   color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient( 90deg,#3c4f4c, #f53199);
    padding:8px 8px;
    border-radius:4em;
   -webkit-transition: background-color 500ms ease-in-out,color 600ms ease-in, padding 500ms ease-in-out ;
   -moz-transition: background-color 500ms ease-in-out,color 600ms ease-in, padding 500ms ease-in-out ;
   -o-transition: background-color 500ms ease-in-out,color 600ms ease-in, padding 500ms ease-in-out ;
  
 }
 .link:hover
 { 
   color:#706f26;
   background-color: linear-gradient(#f53199,#3c4f4c);
   padding:4px 4px ;

   

 }
 #about-me
 { 
   /* animation-name: red-to-black;
   animation-duration: 4s;
   animation-timing-function:ease-in;
   animation-delay:2s;
   animation-direction:alternate-reverse;
   animation-iteration-count: infinite; */
   margin-right: 622px;
   border-radius: 10em;
   -webkit-animation: red-to-black 4s ease-in 2s alternate-reverse infinite;
   -o-animation: red-to-black 4s ease-in 2s alternate-reverse infinite;
   -ms-animation: red-to-black 4s ease-in 2s alternate-reverse infinite;
   -moz-animation: red-to-black 4s ease-in 2s alternate-reverse infinite;
   
 }
.italics
{
   font-style:oblique;

}
.me 
{ 
   margin-bottom: 40px;
}
#about-image
{
height:400px;
width: 40%;
border: 5px solid darkblue;
/* padding:100px 40px 5px 0px; */
float:left;
margin: 80px 40px;
}
.para-text
{ 
   margin:90px;

}
.site-table
{ 
  /* display: inline-block; */
}
.container
{ 
   background-color:rgb(250, 250, 250);
   margin:10px;
   height:300px;
   display:flex;
   flex-direction:row;
   /* flex-wrap:wrap; */
    justify-content:center;/* space around space in between */
   align-items:center;/*flex-start,flex-end*/

}
.container-item
{ 
   background:rgb(36, 130,39);
   color:white;
   font-size: 25px;
   text-align: center;
   width: 70px;
   line-height:50px;
   margin:10px;
}
.container-item:hover
{ 
   background:teal;
   color:yellow;
}
.grid-container
{ 
   background-color:rgb(250, 250, 250);
   margin:10px;
   height:500px;
   display:grid;
   /* justify-content:space-evenly; */
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
/*   
   grid-gap: 300px 150px;
   align-content: space-between; */

}
.grid-item
{ 
   text-align:center;
   margin:10px;
   line-height: 40px;
   width:70px;
   font-size: 25px;
   color:black;
}
.submit-button
{ 
   margin:20px 10px;
   padding:5px 5px;
   border:none;
   text-decoration:none;
   font-family: 'Dancing Script', cursive,sans-serif;
   font-weight:600;
   font-size: 20px;
   color:white;

   background:linear-gradient(90deg, rgb(187, 43, 43),rgb(93, 201, 31));
   /* transform: translate(50px,30px); */
   -webkit-transition: background-color 500ms ease-in-out, padding 400ms ease-in-out;
   -o-transition: background-color 500ms ease-in-out, padding 400ms ease-in-out ;
   transition: background-color 500ms ease-in-out, padding 400ms ease-in-out;
   -moz-transition: background-color 500ms ease-in-out, padding 400ms ease-in-out;
   border-radius: 12px;
   /* transform: matrix(1,0.45,0.45,1,100,50); */
}
.submit-button:hover{ 
   background-color: rgb(77, 96, 112);
   padding:10px 10px;
   /* transform: scale(0.7); */
   /* transform: rotate(70deg); */
   /* transform: skewx(90deg); */
}
@keyframes red-to-black {
   /* from {background:red}
   to{background: black;} */

   0% {background:red;transform: translate(0px,0px);}
   50%{background: yellow; transform:translate(10px,10px)}
   100%{background: black;transform: translate(20px,20px);}

}